# Virtual Environment
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment variables
.env

# Media files
media/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db